beautifulsoup4==4.11.1
IMDbPY==2022.7.9
nltk==3.8.1
numpy==1.22.4
pandas==1.4.2
pickleshare==0.7.5
scikit-learn==1.2.1
seaborn==0.11.2
selenium==4.6.0
sklearn==0.0.post1
streamlit==1.22.0
tqdm==4.64.1
textblob==0.17.1
parsel==1.7.0
tqdm==4.64.1